---
---
@keyframes fly
	from
		transform: translateY(-5%)
	to
		transform: translateY(5%)

body
	align-items: center
	background: #111
	box-sizing: border-box
	display: flex
	flex-flow: row nowrap
	justify-content: center

body, html
	margin: 0
	padding: 0
	height: 100%
	width: 100%

.flag
	--width: 75vmin
	align-items: stretch
	aspect-ratio: 2 / 1
	display: flex
	flex-flow: row nowrap
	height: auto
	justify-content: stretch
	width: var(--width)

	&__column
		--delay: calc((var(--time) * -1) + (var(--time) / var(--res)) * (var(--col) - 1))
		align-items: stretch
		animation: fly 1s var(--delay) ease-in-out alternate infinite
		display: flex
		flex: 1 0
		flex-flow: column nowrap
		justify-content: stretch	

	&__strip
		background-color: #fff
		background-size: cover
		background-position: calc(100% / var(--res) * var(--col)) 0
		flex: 1 0

.flag__strip
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1200" height="600" viewBox="0 0 9600 4800"%3E%3Cpath fill="red" d="M0 0h2400l99 99h4602l99-99h2400v4800H7200l-99-99H2499l-99 99H0z"/%3E%3Cpath fill="%23fff" d="M2400 0h4800v4800H2400zm2490 4430-45-863a95 95 0 0 1 111-98l859 151-116-320a65 65 0 0 1 20-73l941-762-212-99a65 65 0 0 1-34-79l186-572-542 115a65 65 0 0 1-73-38l-105-247-423 454a65 65 0 0 1-111-57l204-1052-327 189a65 65 0 0 1-91-27l-332-652-332 652a65 65 0 0 1-91 27l-327-189 204 1052a65 65 0 0 1-111 57l-423-454-105 247a65 65 0 0 1-73 38l-542-115 186 572a65 65 0 0 1-34 79l-212 99 941 762a65 65 0 0 1 20 73l-116 320 859-151a95 95 0 0 1 111 98l-45 863z"/%3E%3C/svg%3E')
